/* @override 
	http://dev-presentensetesting.gotpantheon.com/sites/all/themes/presentense_refresh/style.css?9 */

/* Stylesheet for PresenTense.org
** Version 4.0 2013
** Styles by bludrop studios
*/
//Import Modules (include in _base.scss?)
@import "modules/all";

// Import Partials
@import "partials/fonts";
@import "partials/base";
@import "partials/header";
@import "partials/content";
@import "partials/footer";
@import "partials/front";
@import "partials/components";
@import "partials/fellows";
@import "partials/ventures";
@import "partials/calendar";




/* General Styles */

body {
	font-family: $sspro, Arial, sans-serif;
	color: $darkgrey;
	margin: 0;
	padding: 0;
	background: url(images/bg.png) left top repeat-x;
}

h2 {
	margin: 0;
	padding: 0;
}

//this should be moved
#sidebar-right .block{
margin-bottom: 20px;
}

a {
	color: $ptred;
	text-decoration: none;
	&:hover, &:active{
		text-decoration: underline;
	}
}

.body {
/*	width: $fullwidth;*/
	margin: 0 auto;
}

.clear {
	clear: both;
	height: 0px;
	font-size: 0px;
}

/* Header */

#header {
/*	height: 106px;*/
/*	padding: 5px 10px 0 0;*/
/*	background: url(images/header-bg.png) left bottom repeat-x;*/
	margin-bottom: 10px;
	background: #dfdfdf;
}


#header-wrap {
	display: block;
	width: $fullwidth;
	margin: 0 auto;
}

#search-bar{
	display: block;
	width: $fullwidth;
	height: 20px;
}

#logo-menu-bar{
	display: block;
	width: $fullwidth;
	/*height: 50px;*/
}

#logo {
	padding-top: 0px;
	height: 0px; // this should be fixed
	float: left;
	
	img{
		max-height: 80px;
	}
	
}

/* Search */
#search,#facebook-connect,.login-link,#top-newsletter-signup,#lang-flags {
	float: right;
	height: 32px;
	padding-top: 6px;
}

#top-newsletter-signup{
font-size: 15px;
margin-top: 2px;
}

#lang-flags{
margin-right: 15px;
margin-top: 2px;
}


#search {
	padding-right: 15px;
	.form-item {
		display: block;
		float: left;
		margin: 0;
	}
	input.form-text {
		margin: 0 10px;
		padding: 8px 4px;
		border: none;
		width: 140px;
		height: 5px;
		background: url(/sites/all/themes/presentense/images/search-bg.png) no-repeat;
	}
	input.form-submit {
	height: 22.5px;
	}
}



/* Menu */

#menu {
	clear: both; // this should not be here
/*	margin-top: 10px;*/
	float: right;

// this might be too much nesting?	
	ul#navlist{
		font-size: 16px;
		li{
			margin: 0;
			padding: 0 5px;
			a{
				padding: 6px 10px 0 10px;
				display: inline-block;
				height: 41px;
				color: #4d4d4d;
				font-weight: normal;
				text-decoration: none; //remove
				&.active{
					color: white;
					background: $ptred /*url(images/menu-bg.png) left bottom no-repeat*/; //this png has to change color
				}
			}
			
		}
	}
	
}


/* Banner region */
// Is this still going to exist?

#banner-region {
	width: 100%;
/*	height: 100px;*/
	/*margin-top: 66px;*/
	clear: both;
	border-top: 1.5px solid $ptred;
/*	margin-top: 120px;*/
	background: #fff;

	// THESE ARE ALL OLD COLORS
	
	body.path-blog &{
			background: rgb(244,128,25); //old color
		}
	body.path-about &, body.path-contact &{
		background: rgb(252,0,18);
	}
	body.path-fellowship &, body.path-institute &, body.path-cep &{
			background: rgb(17,183,217);
	
	}
	
	body.path-institute-fellows #banner-region, body.path-institute-people #banner-region{
		background: rgb(17,183,217) !important;
	
	}
	
	body.path-local #banner-region{
			background: rgb(20,195,82);
	
	}
	
	body.path-people &, body.path-ventures &, body.path-fellows &, body.type-fellow-profile &, body.type-venture &{
			background: rgb(146,32,194);
	
	}
	
	body.path-moscow &, body.path-russia &{
		background: rgb(94,81,161);
	}
	
	body.path-ptsocial &{
		background: rgb(79,145,205);
	}
	
	
}




.banner > .block {
	width: $fullwidth;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	margin-top: 0 !important;
	
	p{
		margin-top: 0;
	
	}
}


/* Content */
// This should be moved?
#content,#front {
	width: $fullwidth;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Footer */
#footer {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #959595; //leave this for now
	padding-top: 20px;
	clear: both;
	font-size: 12px;
	color: #333; // leave this for now
	line-height: 22px;
	margin-bottom: 0;
	padding-bottom: 20px;
}


#stay-connected-bar{
	clear: both;
	width: 100%;
	/*margin-left: auto;
	margin-right: auto;*/
	background: rgb(234, 234, 234); //leave this for now
	padding-top: 1px;
	padding-bottom: 15px;
}

#stay-connected{
	display: block;
	width: $fullwidth;
	margin-left: auto;
	margin-right: auto;
	background: url('http://presentense.org/newsletter/files/shared/stay_connected_text2.png') left center no-repeat;
	height: 60px;
	
	ul{
		margin-left: 305px;
		width: 700px !important;
		li{
			float: left;
			list-style-type: none;
			margin-right: 12px;	
			font-size: 13px;
			a{
				opacity: .9 !important;
				&:hover{
					opacity: 1 !important;
					
				}
			}
				
		}
		li>a>img{
			margin-top: 7px;
		}
	}
}


li#newsletter-signup{
	margin-right: 0 !important;
	background: #DDD; //leave for now
	padding: 3px;
	font-weight: bold;
	input[type="text"] {
		border: 1px solid #CCC;
	}
	
}

#breadcrumb-bar{
	clear: both;
	width: 100%;
	/*margin-left: auto;
	margin-right: auto;*/
	background: #575757; //leave for now
	padding: 5px 0;

}


#breadcrumb{ //NOT USED
	display: none;
	width: $fullwidth;
	margin-left: auto;
	margin-right: auto;
	background: url('images/ptstar-miniwhite-transparent.png') no-repeat;
	/*padding-left: 50px;*/
	height: 30px;
	p{
		margin: 0;
		color: #ccc;
		padding-top: 5px;
		margin-left: 50px;
	}

}


#footer-wrapper {
	width: $fullwidth;
	margin-left: auto;
	margin-right: auto;
}


#footer{
	#block-block-37, #block-block-38, #block-block-39, #block-block-42{
		float: left;
		/*	height: 200px;*/
		width: 175px;
		border-right: 1px solid #666;
		padding: 0 0 0 40px;

	}
	ul{
		list-style-type: none;
	}
	p{
		margin: 0;
		padding: 0;	
	}
	a {
		color: #333; //leave for now
		text-decoration: none;
	}
	#block-block-37 {
		padding: none;
	}
	#block-block-42 {
		border-right: none;
	}
}

.login-link {
	padding-top: 12px;
	a {
		color: #777; //leave for now
		text-decoration: none;
		font-size: 16px;
	}
}



/* Sidebar (Right) */
#sidebar-right {
	padding: 10px 20px 0 19px;
	width: 302px;
	float: left;
}


/* Article/Node Styles */
#article {
	padding: 10px 0 0 20px;
	width: 588px;
	float: left;
	
	h1, h2{
		margin: 0;
		padding: 0;
	}
	h1{
		font-size: 30px;
		text-transform: none;
		color: $ptred;
//		a{
//			text-decoration: none;
//			color: $ptred;
//		}
	}
	h2{
		font-size: 20px;
		color: $darkblue; //trying it out
		.arrow {
			color: $ptred;
			padding: 0 10px;
		}
		.author a {
			text-decoration: underline;
//			color: #666;
			color: $lightgrey;
		}
	}
}



.article {
	padding: 10px 0 10px 0;
	.image {
		float: left;
		padding: 10px 10px 10px 0;
	}
	.date {
		font-family: Arial;
//		color: #666;
		color: $lightgrey;
		font-style: italic;
	}
}

/* Assorted Node Accoutrements */ //Maybe don't need this

.node_read_more a {
    color: $ptred;
}

//ul.links li.blog_usernames_blog, ul.links li.comment_add, ul.links li.comment_comments {
//    padding: 0 16px 0 0;
//}

// WHAT IS THIS?
//ul.menu li a{
//	color: #e31c18;
//	text-decoration: none;
//	font-size: 12px;
//	line-height: -2px;
//}


/* Orange/Latest Articles Blog- for Blog */
// I think this was replaced for the blog site- check those styles too
#block-views-latestarticles-block_1 {
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
}

#block-views-latestarticles-block_1 .views-row-odd, #block-views-latestarticles-block_1 .views-row-even {
	clear: both;
	padding-top: 10px;
}


#block-views-latestarticles-block_1 a, #block-views-latestarticles-block_1 .date {
	color: #f48019;
	text-decoration: none;
}

#block-views-latestarticles-block_1 .img {
	float: left;
	width: 97px;
	padding-right: 10px;
}

#block-views-latestarticles-block_1 .title {
	padding-bottom: 5px;
	font-style: normal;
}

#block-views-latestarticles-block_1 h2 {
	margin: 0;
	font-style: normal;
	padding: 4px 0 0 30px;
	height: 42px;
	background: #f48019 url(images/orange-header-bg.png) left bottom no-repeat;
	font-size: 20px;
	color: #fff;
}

/* TAG */ //what is this for?
.taxonomy {
	font-style: italic;
	padding-left: 20px;
	font-weight: bold;
	font-size: 13px;
	.links {
		padding-left: 10px;
		li {
			padding-left: 15px;
			background: url(images/tag-bg.png) 0 3px no-repeat; //what is this?
		}
	}
}

.node .links {
	margin-top: 6px;
}

.blog_usernames_blog a, a.blog {
	margin-top: 6px;
	font-size: 13px;
	height: 21px;
	padding: 3px 0 0 45px;
	background: url(images/blog-link-bg.png) 20px 0 no-repeat; //what is this?
}

// what is this?
.comment_add a, .comment_comments a, .comment_new_comments a{
	margin-top: 6px;
	font-size: 13px;
	height: 21px;
	padding: 3px 0 0 25px;
	background: url(images/comment-add-bg.png) 0px 0 no-repeat;
}

/* Home Page = Front */
// ENGLISH AND RUSSIAN STYLES. HEBREW STYLES ARE IN THE RTL STYLESHEET 
#front {
	clear: both;
	/*	margin: 10px 0 0 0;*/
	margin-top: 10px;
	#block-block-33, 
	#block-block-34, 
	#block-block-35, 
	#block-block-79, 
	#block-block-80, 
	#block-block-81{
		float: left;
		width: 303px;	
		font-size: 14px;
		line-height: 1.5em;
		height: 300px;
		margin: 0 5px 0 5px;
		h2{
			text-transform: uppercase;
			padding-top: 13px;
			font-weight: normal;
			font-size: 22px;
			height: 36px;
			background: url(images/front-h2-bg.png) repeat-x;
			text-align: center;
		}
		p {
			padding: 0 17px;
		}
		li { // Does this even exist anymore?
			display: block;
			margin: 0 0 0 40px;
			padding: 0 0 0 30px;
			background: url(images/front-li-bg.png) 0 4px no-repeat;
		}
	}
	.block-links a {
		text-decoration: underline;
		color: $ptred;
	}
	#block-block-85{
	float: left;
		p{
			margin-top: 0;
		}
		
	}
	#sidebar-right {
		padding: 0px 0px 0 0px;
		width: 249px;
		float: right;
	}
	
	
}

#rokfeature{ //should really deprecate this
	float: left;
	width: 690px;
	margin-bottom: 15px;
}



#block-block-11 { //this shouldn't be on the page- REMOVE block in drupal
display:none;
}

// AWESOME BUTTON - Need to Modify and Change colors (if gradients- should be css3)

/* Awesome Button */

.awesome, .awesome:visited {
	background: #222 url(images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff !important; 
	text-decoration: none !important;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
 
	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	
		.medium.awesome, .medium.awesome:visited 		{ font-size: 16px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }

		.large.awesome, .large.awesome:visited 		{ font-size: 30px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25);}
		
		.awesome.league{
		font-weight: normal !important;
	font-family: "LeagueGothicRegular", Arial, Sans-serif;
}
		
		.large.awesome.league, .large.awesome.league:visited{
	font-size: 35px !important;
	/*text-transform: uppercase;*/
	/*font-variant: small-caps;*/
}


	.red.awesome, .red.awesome:visited			{ background-color: rgb(231,28,28); }
	.red.awesome:hover							{ background-color: #e33100; }



/* @group JQuery Menu */ //This will eventually be deprecated too, probably

#jquery-menu{ //Is this necessary?
	margin: 20px 0;
}

ul.jquerymenu{
	background: #eee; //leave for now
	padding: 15px;
//	font-family: $leaguegothic, Arial, Sans-serif;
	li{
		a{
			display: block;
			background: #eee; //leave for now
			color: $ptred;
			font-size: 20px !important;
			border-bottom: 1px solid #999;
			padding: 7px;
			margin: 0;
			&:hover{
				background: $ptred;
				color: #fff;
			}
			&.active{
				color: #000;
			}
		}
		span.parent {
		  display:block;
		  height:9px;
		  /*margin-left:-15px;*/
		  margin-top:6px;
		  position:absolute;
		  width:9px;
		}
		ul{
			padding: 0 !important;			
			li{
				list-style-type: none;
				display: block !important;
				list-style-position: inside;
				margin: 0 !important;
				/*padding-left: 15px;*/
			}
		}
		&.parent span{
			background-position:0 0;
			background-repeat:no-repeat no-repeat;
			width: 20px;
			height: 20px;
			margin-left: -20px;
			&.closed{
				background-image:url(/sites/all/modules/jquerymenu/images/new/plus.png);
			}
			&.open{
			  background-image:url(/sites/all/modules/jquerymenu/images/new/minus.png);
			}		
		}		
	}		
}

/* @end */

/* Social Media Press Release */
#pr-headline{
	background: #eee url('http://presentense.org/newsletter/files/shared/ptstar-white-trans2-215.png') no-repeat right top;
	text-shadow: #ccc 3px 5px 10px;
	color: $ptred;
	padding: 10px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: bold;
}

#pr-topdate{
font-size: 14px;
margin-top: 0;
}

.pr-subhead{
font-weight: bold;
}

body.type-pressrelease{
	.panel-col-first{
		font-size: 12px;
		width: 200px;
		margin-right: 15px;
		/*opacity: .5;*/
		 h2.pane-title{
			display: block;
			width: 185px;
			background-color: $ptred;
			// why so important?
			color: #fff !important;
			padding: 2px 0 2px 5px !important;
			font-weight: normal !important;
			font-size: 18px !important;
			text-shadow: 1px 1px 2px #999 !important;
			border-left: 10px solid #5C0910 !important;
			margin-bottom: 10px !important;
		}
	}
	.panel-col-last{
		font-size: 12px;
		width: 235px;
		margin-left: 14px;
		/*opacity: .5;*/
		 h2.pane-title{
			display: block;
			background: #E21222 url('http://presentense.org/newsletter/files/shared/PT_star_mini_shadow.png') no-repeat 5px .5px;
			color: white !important;
			padding-left: 40px !important;
			padding-top: 2px !important;
			font-weight: bold !important;
			font-size: 20px !important;
			text-shadow: 1px 1px 2px #999 !important;
			width: 189px !important;
			height: 27px !important;
			/*margin-bottom: 10px !important;*/
		}
		.panel-pane{
			/*background: rgba(226,18,34,.25);*/
			.pane-content{
				background: #F9D0D3; //see below
				padding: 10px;
			}
		}
		
	}
	.panel-col-first:hover, .panel-col-last:hover{
		opacity: 1;
	}
	.panel-col-bottom{
		border-top: 4px double #999;
		margin-top: 15px !important;
	}
	.emvideo{
		margin-bottom: 10px;
	}
	.emvideo-modal img{
		margin-bottom: 10px;
	}
	.field-field-prpressphotos img{
		margin-bottom: 10px;
	}
	// this can probably be done better
	#add-this .pane-content,
	#pt-facts .pane-content,
	#resource-links .pane-content{
		margin-bottom: 1em !important;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.panel-3col-stacked .panel-col-last .panel-separator{
		margin-bottom: 0 !important;
	}
	#pt-facts ul, #resource-links ul {
		list-style-type: square !important;
		list-style-position: outside;
		/*padding-left: 25px !important;*/
		li{
			list-style-type: square !important;
			a{
				text-decoration: none !important;
				&:hover{
					text-decoration: underline !important;
				}
			}
		}
	}
}

#twitter-pitch{
	background: #F9D0D3; // see below
	h2.pane-title{
		background: #F9D0D3 !important; //maybe try to define this in terms of $ptred
		color: #000 !important;
		font-size: 12px !important;
		text-shadow: none !important;
		margin: 0 !important;
		padding: 0 !important;
		padding-left: 10px !important;
		height: 10px !important;
	}
	.field-field-prtweet{
		font-size: 11px;
	}
	
}

#tweet-button .pane-content{
	padding: 0 10px;
}

#get-social div.pane-content{
margin: 0;
padding:0;
}


// PICK UP HERE TO KEEP WORKING!

/* Fellows Directory */ // Does this even exist anymore?
body.path-fellows .views-table {
    float: left;
    width: 175px;
    margin-right: 20px;
    caption{
        font-weight: bold;
        font-size: 15px;
    }
    a{
        border: none;
    }
}

body.path-fellows-all .views-field-title {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    padding: 3px;
    width: 94px;
    font-size: 13px;
    a{
        border-bottom: none;
        color: #fff;
    }
}



.view-fellows-directory .views-table{
	font-size: 13px;
	.fellow-name a{
		font-weight: bold;
	}
	

}


/* Views Display Tabs */

/* = Our Team */

.viewsdisplaytabs-wrapper .viewsdisplaytabs-group-wrapper{
  body.path-our-team &{
	  margin-left: 0;
  }
  @each $path in our, about {
  	body.path-#{$path}-team &{
  		ul{
  			margin: 1em 0 1em 0;
  			padding: 3px 0px 7px 0px;
  			width: 650px;
  		}
  	}
  }
  ul{
  	li{
		 a {
			padding: 7px 10px !important;
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			border-radius: 0 !important;
			&:hover{
				background-color: #ccc;
			}
			&.viewsdisplaytabs-active:hover{
				background-color: #fff;
			}
		}
  		
  	}
  }
}

/* Team Profile Styles */

@each $team in PT-Team, SocialStart-Trainers, PT-Team-Israel{
	.view-#{$team} .views-row{
		/*border-bottom: 1px solid #ccc;
		border-color: #ececec;*/
		margin: 10px 0 !important;
		padding: 10px 0 !important;
		clear: both;
	}
}

.profile-photo {
	float: left;
	width: 150px;
	margin-right: 15px;
}

.profile-rest {
	float: left;
	width: 400px;
	h2 {
		font-size: 25px !important;
		/*text-transform: uppercase;*/
		a {
			text-decoration: none;
			color: $ptred;
		}
	}
	.views-field-field-jtitle-value {
		font-style: italic;
		font-size: 12px;
	}
	.views-field-field-bio-value p {
		text-align: justify;
		font-size: 13px;
	}
}

/* Venture Table Styles */

.view-venture-view{
	font-size: 12px !important;
	thead{
		background-color: #dfdfdf; //leave for now
		tr th{
			text-align: center !important;
		}
	}
	tr{
		border-bottom: none !important;
		td{
			padding-top: 10px !important;
			padding-bottom: 10px !important;
		}
		&.odd{
			background-color: #fff !important;
			td.active{
				background-color: #fff !important;
			}
			
		}
		&.even td.active{ //This is not the best way to do this
			background-color: #eee !important;
		}
				
	}
	td{
		padding-left: 10px !important;
	}
}

/* Venture Profile Styles */

#venture-profile{
	/*padding-bottom: 60px;*/
	h1{
		font-size: 40px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 5px;
	}
	h2{
		font-weight: 100;
		margin-bottom: 20px;
		text-align: right;
	}
}

#venture-details{
	display: block;
	width: 150px;
	float: left;
	margin-right: 20px;
	background: #ddd; //leave for now
	padding: 1em;
	font-size: 14px;
}

#venture-logo{
	width: 150px;
	margin-bottom: 1em;
}

#venture-factbox{
	width: 150px;
	h3{
		margin: 0;
		border-bottom: 1px solid #ccc;
	}
	dt{
		font-weight: bold;
	}
	
	dd{
	margin-left: 10px !important;
	}
	
}

#venture-text{
	/*clear: both;
	padding-top: 10px;*/
	text-align: justify;
}


body.path-taxonomy-term .taxonomy{
	clear: both;
	margin-bottom: 10px;
}


/* Fellow Profile Styles */

#fellow-profile{
}

#fellow-left{
	float: left;
	width: auto;
	margin-top: -20px;
}

#fellow-right{
	/*float: left;
	width: auto;*/
	font-size: 14px;
	margin-left: 15px;
	margin-top: 20px;
	/*border: 1px solid #999;*/
}

#profile{
	background: white;
	/*display: inline;*/
	margin: 0 30px 10px 0px;
	width: 200px;
	padding: 20px 10px 15px;
	text-align: center;
	text-decoration: none;
	color: #333;
	font-size: 18px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .25); //need to prefix?
	border: 1px solid #EEE;
	p{
		margin: 0;
	}
	#fellow-name{
		font-weight: 800; //also could do 100
		a{
			color: #000;
		}
	}
	#fellow-venture{
		font-size: 12px;
		font-style: italic;
	}
	img{
		margin-bottom: 5px;
		border: 1px solid #eee;
	}
}

#cep_info{
	margin: 0;
	/*width: 220px;*/
	font-size: 12px;
}

#cep_year{
	float: right;
}

.fellow-tags{
	background: #ccc;
	padding: 10px 20px;
	margin: 0;
}

#fellow-bio{
	background: #eee;
	padding: 10px 20px;
	p{
		text-align: justify;
	}
}


/* @group Social Fellow Profile Links */ //This needs to be fixed
a.profile_twitter{
display: block;
	width: 16px !important;
	height: 16px !important;
	background: url('images/icn/profile_links/twitter_16.png') no-repeat;
	text-indent: -9999px;
}

a.profile_facebook{
	width: 16px !important;
	height: 16px !important;
	background: url('images/icn/profile_links/facebook_16.png') no-repeat;
	text-indent: -9999px;

}

a.profile_linkedin{
	width: 16px !important;
	height: 16px !important;
	background: url('images/icn/profile_links/linkedin_16.png') no-repeat;
	text-indent: -9999px;

}

/*
.view-fellow-venture-attach{
display: none;
}
*/

/* @end */

/* New NivoSlider Front Styles */

body.front{ //Front Page Only
	.nivo-controlNav{
		left: 0 !important;
		bottom: auto !important;
		width: 10px;
		a.active{
//			background: #ccc !important;
			background: $lightgrey;
		}
		
	} 
	a.nivo-control{
		background: #000 !important;
		height: 113px !important;
		&[rel="0"]{
			background: $ptred !important;
		}
		&[rel="1"]{
			background: $orange !important;
		}
		&[rel="2"]{
			background: $darkblue !important;
		}
		
	}
	.nivo-slice{
		z-index: 1 !important;
	}
	.nivo-imageLink{
		z-index: 2 !important;
	}
	a.nivo-prevNav {
	  left:25px !important;
	}
}

/* Meet a Fellow - Homepage Styles */ //Still Kickin'
#meet-a-fellow{
	display: block;
	width: 250px;
	height: 338px;
	background:  url(images/launch2012/meetafellows2.png) right top  no-repeat;
	position: relative;
/*	box-shadow: 2px 2px 5px #999;*/
	padding: 0;
	border: 1px solid #939598;
	.fellowln{
		/*  float: left;*/
		color: #000;
		/*  border: 2px solid;*/
		margin: 0;
		margin-right: 40px;
		.lninfo{
			display: block;
		/*	width: 225px;*/
			height: 100px;
		/*	padding: .5em;*/
		/*	bottom: 0;*/
			z-index: 1;
			color: #fff;
			background-color: #dfdfdf; //leave for now
			text-shadow: 1px 1px 3px #333;
			position: relative;
			img{
				display: block;
				float: left;
				width: 100px;
			}
			h2{
				float: left;
				width: 100px;
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 5px;
				right: 0;
				color: #fff;
			}
			p{
				line-height: 1em;
				margin: 0;
			}
			
		}
		.city{
			position: absolute;
			/*bottom: 60px;*/
			bottom: 0;
			right: 40px;
			background: #ccc;
			display: block;
			color: #fff;
			padding: 5px;
			width: 200px;
			/*display: inline-block;*/
			font-weight: 100;
			text-shadow: 1px 1px 3px #333;
			text-align: center;
			font-size: 14px !important;
		}
		@each $city in $cities{ // Show colors for each city. $cities is defined with the colors
			$klass: nth($city, 1);
			$kolor: nth($city, 2);
		
			&.#{$klass}{
		  		.lninfo, .city{
		  			background-color: $kolor;
		  		}
		 	}
		 }
		 .ventureln{
		 /*	display: block;
		 	top: 1px;
		 	right: 0;
		 	margin-right: 10px;
		 	margin-top: 10px;
		 	left: 110px;*/
		 	color: #000;
		 	font-size: 1.2em;
		 	margin: 5px 0 0 0;
		 }
		 .name{
		 /*	position: relative;*/
		   	font-size: 1.3em;
		 	font-weight: 600;
		 	width: 90%;
		 }
		 .vdesc{
		 	display: block;
		 	/*background: #f5f5f5;*/
		 	padding: 10px;
		 	font-size: 12px;
		 	/*width: 175px;
		 	height: 75px;*/
		 /*	margin-top: 150px;*/
		 	/*margin-left: 10px;*/
		 	color: #000;
		 	line-height: 1.3em !important;
		 	text-shadow: 1px 1px 1px #EEE;
		 	p{
		 		line-height: 1.3em !important;
		 	}
		 	a{
			 	/*position: relative;*/
			 	display: block;
			 	margin-top: 5px;
			 	text-align: right;
			 	text-shadow: none;
		 	}
		 }
	}
	.venture_infoln{
		display: block;
		clear: both;
		padding-left: 5px;
		margin-top: 15px;
		h2{
			a{
				color: #000;
			}
        }
	}
}


#ln2012{ //Hidden/Removed
	display: none;
	margin-right: 45px;
	clear: both;
	color: #fff;
	font-weight: bold;
	position: absolute;
	bottom:5px;
	h3{
		margin: 0;
		padding: 0;
	}
	a{
		display: block;
		background: url(images/launch2012/jim2012-2.png)no-repeat;
		width: 205px;
		height: 48px;
		text-indent: -5000px; //think about using extend for image replacement?
	}
}


/* Story Listing (5 Minutes With) Styles */ //Still around?

body.path-launch-nights-2012-interviews table{
	width: 588px;
	margin-bottom: 20px;
	thead{
		display: none;
	}
	td{
		background: none !important;
		vertical-align: top;
		&.views-field-field-fellowphoto-fid{
			width: 50px;
			padding: 10px;
			/*padding-right: 10px;*/
		}
		&.views-field-title{
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 15px;
			>a{
				font-family: Georgia, serif;
				font-size: 20px;
			}
			a:last-child{ // ?
				font-size: 14px !important;
			}
			
		}
	}
	tr{
		border-bottom: 1px solid #ddd;
		/*margin-bottom: 5px;*/
		&.odd{
			background: #eee;
		}
		&.even{
			background: #fff;
		}
	}
	caption{
		background:#000000;
		font-family: $leaguegothic, Arial, Sans-serif;
		font-size:30px;
		text-transform:uppercase;
		/*	margin-bottom: 10px;*/
		color: #fff;
		a{
			color: #fff;
		}
		
	}
	
}


/* Events Calendar Styles */ //For hub site
.view-content .calendar-calendar .links{
	display: none !important;
}

.calendar-calendar td .inner div.day a{
	color: #777 !important;
}

#calpopup-body{
	h1{
		margin: 0 !important;
		font-size: 1.2em !important;
	}
	
	h2{
		display: none !important;
	}
	
	p{
		display: none !important;
	}
	
	#nodelink{
		margin: 0 !important;
	}
	
	.node_read_more{
		display: none !important;
	}
}


#popup-close{
	float: right !important;
	padding: 10px 10px 0 0 !important; 
}

/* Impact Page Styles */
body.path-impact{
	#article h1, #article h2{
		display: none !important; 
	}
}