/* Events Calendar Styles */ //For hub site
.view-content .calendar-calendar .links{
	display: none !important;
}

.calendar-calendar td .inner div.day a{
	color: #777 !important;
}

#calpopup-body{
	h1{
		margin: 0 !important;
		font-size: 1.2em !important;
	}
	
	h2{
		display: none !important;
	}
	
	p{
		display: none !important;
	}
	
	#nodelink{
		margin: 0 !important;
	}
	
	.node_read_more{
		display: none !important;
	}
}


#popup-close{
	float: right !important;
	padding: 10px 10px 0 0 !important; 
}
