/* $Id: nice_menus_default.css,v 1.10 2010/10/09 16:58:04 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
}

ul.nice-menu li {
  border: 1px solid #ccc;
  border-top: 0;
  float: left; /* LTR */
  background-color: #eee;
 /* margin-right: 10px !important;*/
  margin-right: 5px !important;

}

ul.nice-menu a {
	padding: 0.3em 15px 0.3em 15px;
  	display: block;
  
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #eee url(/sites/all/themes/tendu/arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #ccc url(/sites/all/themes/tendu/arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eee url(/sites/all/themes/tendu/arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #ccc url(/sites/all/themes/tendu/arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li {
  border-top: 1px solid #ccc;
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background: #eee url(/sites/all/themes/tendu/arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: #ccc url(/sites/all/themes/tendu/arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent {
  background: #eee url(/sites/all/themes/tendu/arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(/sites/all/themes/tendu/arrow-right.png) right center no-repeat; /* LTR */
}


/* @group Nice Menus 0 */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 28, 2010 12:22:13 PM America/New_York */

ul#nice-menu-0 {
		z-index: 10;
}


ul#nice-menu-0 li {
	font-family: 'LeagueGothicRegular', Arial, sans-serif;
	background-color: #dfdfdf !important;
	border: none !important;
}


ul#nice-menu-0  ul li{
	/*background-color: #bf1e2e !important;*/
	background-color: #e42618 !important;
	/*background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.45, rgb(214,4,4)),
    color-stop(0.74, rgb(247,22,22))
) !important;
	background: -moz-linear-gradient(
    center bottom,
    rgb(214,4,4) 45%,
    rgb(247,22,22) 74%
) !important;*/
	font-size: 20px !important;
	/*font-family: Verdana;*/
	width: 150px;

}



ul#nice-menu-0 ul li a, ul#nice-menu-0.nice-menu-down .menuparent ul li a{
color: #fff;
text-decoration: none !important;
padding: 5px 10px;
border-bottom: 1px solid #eee;


	}


ul#nice-menu-0 ul li a:hover, ul#nice-menu-0.nice-menu-down .menuparent ul li a:hover{
	background: #eee;
	/*background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.45, rgb(214,4,4)),
    color-stop(0.74, rgb(247,22,22))
) !important;
	background: -moz-linear-gradient(
    center top,
    rgb(214,4,4) 45%,
    rgb(247,22,22) 74%
) !important;*/

	color: #000;
	}


ul#nice-menu-0 li a {
	text-decoration: none !important;
	padding-bottom: 15px;
	color: #000;
	
}

ul#nice-menu-0.nice-menu-down li.menuparent:hover a,
ul#nice-menu-0.nice-menu-down li.over a{
	background: #e42618 url('images/menu-bg-dfdfdf.png') left 40px no-repeat;

	color: #fff;
	
}



ul#nice-menu-0 li a:hover, ul#nice-menu-0 li a.active, ul#nice-menu-0 li.active-trail a  {
	/*background: #e31c18 url('img/menu-bg-dfdfdf.png') left 40px no-repeat;*/
	background: #e42618 url('images/menu-bg-dfdfdf.png') left 40px no-repeat;

	color: #fff;
}


ul#nice-menu-0 {
	border-top: none !important;
	font-size: 26px;
}

ul#nice-menu-0 ul{
	border-top: none !important;
	margin-top: 8px;
}

/* @end */



/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding-left: 0; /* LTR */
  background-image: none;
}

#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #eee;
}

#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
  background: #eee url(/sites/all/themes/tendu/arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li.menuparent:hover {
  background: #ccc url(/sites/all/themes/tendu/arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent {
  background: #eee url(/sites/all/themes/tendu/arrow-right.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(/sites/all/themes/tendu/arrow-right.png) right center no-repeat; /* LTR */
}
